importFrom("cli", "ansi_strip", "cli_abort", "cli_text")
importFrom("httpuv", "startServer")
importFrom("jobqueue", "Queue")
importFrom("parallel", "detectCores")
importFrom("promises", "as.promise", "then")
importFrom("R6", "R6Class")
importFrom("rlang", "as_function", "catch_cnd", "is_formula", "is_scalar_integerish")
importFrom("webutils", "parse_http", "parse_query")
importFrom("utils", "capture.output")

export(`Server`)
