.nav-text.text-muted {
  color: white !important;
}

.active>.nav-link {
  color: white !important;
}

footer { margin-top: 40px; }

.section>h2 { margin-top: 50px; }
.section>h3 { margin-top: 40px; }
.section>h4 { margin-top: 30px; }
